@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData.ContainsKey("Message"))
{
    if (TempData.ContainsKey("Tipe"))
    {
        string tipe = TempData["Tipe"].ToString();
        if (tipe == "danger")
        {
                        <div class="alert alert-danger">
                @TempData["Message"]
                        </div>
        }
        else if (tipe == "success")
        {
                        <div class="alert alert-success">
                @TempData["Message"]
                        </div>
        }
    }

}

